// * {
//     padding: 0; 
//     margin: 0; 
//     padding: border-box; 
// }

// body {
//     height: 100vh; 
//     // background-color: red; 
//     display: flex; 
//     // margin: auto; 
// }

.game {
    width: 640px; 
    height: 650px; 
    perspective: 1000px; 
    // border: 2px solid green; 
    display: flex; 
    flex-wrap: wrap; 
    margin: auto; 
    justify-content: center;
    align-items: center;
}

.game-container {
    margin: 4.5%;
    border: 1px solid #2c211e;
    background-color: #f3cfc6b0;
    border: 10px double #642A11;
    border-radius: 50px;
    padding: 10px; 
    // padding-top: 40px; 
    // padding-bottom: 5px; 
    display: inline-block; 
}

.coffeehouse-card {
    // border: 2px solid red; 
    margin: 5px; 
    // width: calc(25% - 10px); 
    // height: calc(33.333% - 10px); 
    width: 150px;
    height: 160px; 
    position: relative; 
    transform: scale(1); 
    transform-style: preserve-3d;
    transition: transform .3s; 
}

.coffeehouse-card.flip {
    transform: rotateY(180deg)
}

.coffeehouse-card:active {
    transform: scale(.97);
    transition: transform .3s; 
}

.front {
    // border: 2px solid blue; 
    position: absolute; 
    width: 100%;
    height: 100%; 
    border-radius: 10px;
    // padding: 10px; 
    background-color:light palevioletred;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    margin: auto; 
    align-items: center;
    justify-content: center;
    // margin-top: 5px; 
    // margin-bottom: 5px;
}

.back {
    // border: 2px solid purple; 
    position: absolute; 
    width: 100%;
    height: 100%; 
    border-radius: 10px;
    padding: 1.5px;  
    // margin: 10px;
    background-color:light palevioletred;
    backface-visibility: hidden;
    border: 2px solid #642A11;
}

.recipe {
    display: inline-block;
    background-color: #f3cfc6b0;
    border: 10px double #642A11;
    // padding-left: 10px; 
    border-radius: 50px;
    // padding: 5px;
    // width: 430px;
    height: 670px; 
    width: 290px;
    font-size: 14px;
    // height: 640px; 
    // margin: 6%;
    margin-top: 4.5%; 
    // margin-left: 5px; 
    // float: right; 
    // justify-content: space-evenly;
    position: absolute;
    justify-content: left;
    margin-left: 2px; 
}

.outer-game-container {
    height: 90%;
    width: 90%;
    margin-left: 5%;
    border: 1.5px solid #3a3635;
    background-color: #be8971;
    font-size: 17px;
    margin-bottom: 5%;
    border: 10px double #642A11;
    border-radius: 50px;
    // padding-left: 2px; 
}